.btn-link.btn-anchor {
  outline: none !important;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.btn-link.btn-anchor.disabled {
  opacity: 1;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 1em;
}