<div class="container">
  <div class="row">
    <div class="col">
      <!-- Gallery Carousel -->
      <square-carousel [items]="item?.PictureURL"></square-carousel>
    </div>
    <div class="col">
      <p>Condition: {{ item?.ConditionDisplayName }}</p>
      <!-- <p>Time left: <time-remaining *ngIf="item" [endTimeIso]="item?.EndTime" [timeRemainingIso]="item?.TimeRemaining"></time-remaining>
      </p> -->
      <br>
      <p>{{ item?.ConvertedCurrentPrice.Value }} {{ item?.ConvertedCurrentPrice.CurrencyID }}</p>
    </div>
  </div>
  <div [innerHTML]="item?.Description"></div>
</div>