<div class="container">
  <div class="row">
    <div class="col col-md-2">
      <a routerLink="/item/{{ item.itemId[0] }}">
        <img class="thumbnail" src="{{ thumbnailUrl }}" alt="No Image">
      </a>
    </div>
    <div class="col">
      <a routerLink="/item/{{ item.itemId[0] }}">
        <p>{{ item.title[0] }}</p>
      </a>
      <div class="row">
        <div class="col">
          <p>
            Current Price: {{ item.sellingStatus[0].currentPrice[0].__value__ }}
            {{ item.sellingStatus[0].currentPrice[0][ '@currencyId' ] }}
          </p>
          <p>
            <button class="btn btn-light" type="button" (click)="toggleExpand()">{{ expanded ? 'Hide' : 'Expand' }}</button>
          </p>
        </div>
        <div class="col">
          List Type: {{ item.listingInfo[0].listingType[0] }}
          <br>
          Offer Enabled: {{ item.listingInfo[0].bestOfferEnabled[0] }}
        </div>
        <div class="col">
          <remaining-time [endTimeIso]="item.listingInfo[0].endTime[0]"></remaining-time>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngIf="expanded">
            <square-carousel [items]="gallery" [id]="index"></square-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>