<div class="container">
  <div class="row">
    <div class="col col-auto">
      <a routerLink="/item/{{ item.itemId }}">
        <img class="thumbnail" src="{{ item.thumbnailUrl }}" alt="No Image">
      </a>
    </div>
    <div class="col">
      <a routerLink="/item/{{ item.itemId }}">
        <span class="title">{{ item.title }}</span>
      </a>
      <br>
      <div class="row">
        <div class="col">
          <span class="font-weight-bold" style="font-size: 1.5em">
            ${{ item.currentPriceConverted.price.toFixed(2) }}
          </span>
          <div class="text-secondary">
            <span>
              {{ getShipping() }}
            </span>
            <br>
            <span *ngIf="item.listingType === 'Auction' || item.listingType === 'AuctionWithBIN'; else buyItNow">
              {{ item.bidCount + ( item.bidCount === 1 ? ' Bid' : ' Bids' ) }}
            </span>
            <ng-template #buyItNow>
              Buy It Now
            </ng-template>
            <span *ngIf="item.bestOfferEnabled">
              or Best Offer
            </span>
          </div>
          <button class="btn btn-light gallery-toggle" type="button" (click)="toggleExpand()">
            {{ expanded ? 'Hide' : 'Expand' }}
          </button>
        </div>
        <div class="col">
          <div style="padding-top: .5em">
            <time-remaining [endTimeUtc]="item.listingInfo.endTimeUtc"></time-remaining>
            <span class="text-secondary" *ngIf="countryName != undefined && item.country != 'US'">From {{ countryName
              }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngIf="expanded">
            <square-carousel [images]="gallery" [id]="index"></square-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>