<div class="container">
  <!-- Search Bar -->
  <form [formGroup]="searchForm" (ngSubmit)="search( { newPage: 1 } )">
    <div class="sticky-top bg-white">
      <div class="form-row form-group">
        <div class="col">
          <div class="input-group">
            <input formControlName="query" type="text" class="form-control border-right-0" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-white border-input dropdown-toggle" data-flip="false" type="button" data-toggle="dropdown">
                {{ categories?.has( searchForm.value.category ) ? categories?.get( searchForm.value.category )[0] :
                '' }}
              </button>
              <div class="dropdown-menu category-dropdown">
                <button class="dropdown-item" type="button" *ngFor="let category of categories | keyvalue:sortMapInOrder"
                  (click)="searchForm.patchValue( {category: category.key } )" [ngClass]="{ active: searchForm.value.category == category.key }">{{category.value[0]}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
      <div class="form-row form-group">
        <!-- Listing Type -->
        <div class="col">
          <div class="btn-group">
            <button class="btn btn-light" type="button" *ngFor="let listType of types | keyvalue" (click)="search( { newListType: listType.key } )"
              [ngClass]="{ active: searchForm.value.listType == listType.key }">{{ listType.value }}</button>
          </div>
        </div>
        <!-- Sort Order -->
        <div class="col text-right">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
              {{ sortings.get(searchForm.value.sortBy) }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button" *ngFor="let sort of sortings | keyvalue" (click)="search( { newSort: sort.key } )"
                [ngClass]="{ active: searchForm.value.sortBy == sort.key }">
                {{ sort.value }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row form-group">
        <!-- Item Condition -->
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
              {{ conditions?.has(searchForm.value.condition) ? conditions?.get(searchForm.value.condition)[0] :
              '' }}
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" type="button" *ngFor="let condition of conditions | keyvalue:sortMapInOrder"
                (click)="search( { newCondition: condition.key } )" [ngClass]="{ active: searchForm.value.condition == condition.key }">
                {{ condition.value[0] }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Item List -->
    <ul class="list-group">
      <li class="list-group-item border-left-0 border-right-0" *ngFor="let item of items; index as i">
        <item-thumbnail [item]="item" [index]="i"></item-thumbnail>
      </li>

    </ul>
    <!-- Pagination -->
    <br>
    <div *ngIf="pagination.totalEntries && +pagination?.totalEntries[0] == 0">
      <p>No Results :(</p>
    </div>
    <nav *ngIf="pages.length > 0">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ disabled: searchForm.value.page == 1 }">
          <button class="page-link" type="button" (click)="search( { newPage: searchForm.value.page - 1 } )">
            <span>&laquo;</span>
          </button>
        </li>
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': searchForm.value.page == page, 'd-none': searchForm.value.page != page, 'd-md-block': searchForm.value.page != page }">
          <button class="page-link" type="button" [attr.disabled]="searchForm.value.page == page ? true : null" (click)="search( {newPage: page } )">{{page}}</button>
        </li>
        <li class="page-item" [ngClass]="{ disabled: searchForm.value.page == 100 }">
          <button class="page-link" type="button" (click)="search( { newPage: searchForm.value.page + 1 } )">
            <span>&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </form>
</div>